@import "reset";
:root {
  --colorPrimary: 103, 154, 146; //#679A92
  --colorAlt: 231, 235, 237;     //#E7EBED
  --colorDark: 51, 51, 51;       //#333333
  --colorLight: 255, 255, 255;   //#FFFFFF
  --colorWarning: 231, 76, 60;   //#E74C3C
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, main {
  height: 100%;
  width: 100%;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.main {
  align-items: center;
  background-color: rgba(var(--colorPrimary), 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tracker {
  background-color: rgba(var(--colorAlt), 1);
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  max-width: 90%;
  min-height: 28rem;
  padding: 1.6rem;
  width: 48rem;
  &__title {
    color: rgba(var(--colorDark), 1);
    font-size: 1.6rem;
  }
  &__form {
    display: flex;
    gap: .8rem;
    width: 100%;
    &_label {
      display: inline-block;
      margin-bottom: .4rem;
      text-align: center;
    }
    &_input {
      outline: none;
      border: .1rem solid rgba(var(--colorDark), 1);
      background-image: none;
      background-color: transparent;
      border-radius: .4rem;
      display: inline-block;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      height: 3.2rem;
      padding-inline: .8rem;
      width: 100%;
      &::placeholder {
        color: rgba(var(--colorDark), .4);
      }
    }
  }
  &__data {
    flex-grow: 1;
  }
  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: .8rem;
  }
  &__result-wrapper {
    display: grid;
    grid-gap: .4rem .8rem;
    grid-template-columns: auto 2fr;
    grid-template-rows: repeat(2, 1fr);
    flex-grow: 1;
    #totalTime {
      color: rgba(var(--colorPrimary), 1);
    }
    #remainingTime {
      color: rgba(var(--colorWarning), 1);
    }
  }
  &__result {
    color: rgba(var(--colorDark), 1);
  }
  &__button {
    align-self: flex-end;
    border-width: .1rem;
    border-style: solid;
    border-radius: .4rem;
    cursor: pointer;
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 1.6rem;
    transition: all .2s;
    &.disabled {
      opacity: .4;
      pointer-events: none;
    }
    &_primary {
      background-color: rgba(var(--colorPrimary), 1);
      border-color: rgba(var(--colorPrimary), 1);
      color: rgba(var(--colorLight), 1);
      &:hover {
        box-shadow: 0 .1rem .3rem 0 rgba(var(--colorDark), .6);
      }
    }
    &_secondary {
      background-color: rgba(var(--colorLight), 1);
      border-color: rgba(var(--colorPrimary), 1);
      color: rgba(var(--colorPrimary), 1);
      &:hover {
        border-color: rgba(var(--colorPrimary), .6);
      }
    }
  }
}
